@page "/adminRegistration"
@using KGD.Application.DTO;
@using KGD.Application.Contracts.AuthContracts;
@inject AuthorizationService _authService;
@inject NavigationManager _navMgr;
<h3>Admin Registration</h3>

<div class="row my-2">
    <div class="col-md-6">
        <EditForm Model="@registration" OnValidSubmit="DoRegistration">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="Name">Name</label>
                <InputText class="form-control" @bind-Value="registration.Name" />
                <ValidationMessage For="@(()=>registration.Name)" />
            </div>

            <div class="form-group">
                <label for="Username">Username</label>
                <InputText class="form-control" @bind-Value="registration.Username" />
                <ValidationMessage For="@(()=>registration.Username)" />
            </div>

            <div class="form-group">
                <label for="Password">Email</label>
                <InputText type="email" class="form-control" @bind-Value="registration.Email" />
                <ValidationMessage For="@(()=>registration.Email)" />
            </div>

            <div class="form-group">
                <label for="Password">Password</label>
                <InputText type="password" class="form-control" @bind-Value="registration.Password" />
                <ValidationMessage For="@(()=>registration.Password)" />
            </div>
            <div class="my-2">
                @status.Message
            </div>

            <div class="my-2">
                <button type="submit" class="btn btn-primary">Registration</button>
            </div>
        </EditForm>
    </div>
</div>


@code {
    RegistrationModel registration = new();
    Status status = new();
    async Task DoRegistration()
    {
        status.Message = "Wait....";
        status = await _authService.RegistrationAdmin(registration);
        if (status.StatusCode == 1)
            _navMgr.NavigateTo("/login");
    }
}
